@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #188AF0, #00E54B);
  margin: 0;
  font-family: 'Padauk', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  width: 100%;
  text-align: left;
  font-size: 25px;
  padding: 10px;
  color: #fff;
}

.nums-container {
  width: 75%;
}

.calculator {
  background-color: #111;
  display: flex;
  flex-flow: row wrap;
  height: 380px;
  width: 250px;
}

.ops-container {
  width: 25%;
}

button {
  border-radius: 50px;
  width: 50px;
  font-size: 20px;
  height: 50px;
  margin: 5px;
}

button.big-v {
  height: 110px;
}

button.big-h {
  width: 110px;
}

button.orange {
  background-color: #e67e22;
}

button.red {
  background-color: #EF5350;
}

button.ac {
  margin-right: 25%;
}

button:hover {
  opacity: 0.85;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.title {
  position: absolute;
  top: 50px;
  text-align: center;
}

.byline {
  position: absolute;
  bottom: 50px;
  text-align: center;
}
